:root {
  --font-color: #a49090;
  --background-color: #837171;
  --dark-tile-color: #3e3b3b;
  --light-tile-color: #d1beae;
}
body {
  background-color: var(--background-color);
  margin: 0 auto;
}
.main-column {
  margin: 0 10%;
  background-color: #000000;
}

h1,
h2 {
  display: center;
  font-family: "Inter";
  font-weight: 400;
  text-align: center;
  color: var(--font-color);
}
h2 {
  font-size: 30px;
}
h1 {
  font-size: 50px;
}

.hero {
  margin: 0 auto;
  padding-top: 50px;
}
.hero-image {
  height: 80;
  position: center;
  width: cover;
  margin: 0 auto;
}
h3 {
  font-family: "Inter";
  font-size: 25px;
  text-align: center;
  color: var(--font-color);
}
.button {
  background-color: var(--dark-tile-color);
  border-color: var(--dark-tile-color);
  text-align: center;
  text-decoration: none;
  height: 100px;
  width: 180px;
  margin-top: 20px;
  padding-top: 35px;
  border-radius: 15px;
}
.button:hover {
  background-color: var(--dark-tile-color);
  opacity: 50%;
}

.space {
  height: 50px;
}
